.button {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

  &:hover {
    background-color: #0056b3;
    color: #fff; // Оставил белый для лучшего контраста
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  &:disabled {
    background: #6c757d;
    cursor: not-allowed;
  }
}